#CONFIGURACION DEL PUERTO
PORT=3000

#CONFIGURACION DE LA BD
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=TU_PASSWORD_AQUI
DB_NAME=reporte_incidencias

# CONFIGURACIÓN DE SEGURIDAD
BCRYPT_ROUNDS=10

SESSION_SECRET=GENERA_UNA_CLAVE_LARGA_Y_SECRETA_AQUI
FRONTEND_ORIGIN=http://localhost:4200

# Ruta local de imágenes (PC UNU). Ej: C:/Reportes_UNU_IMG/uploads/reportes
UPLOAD_DIR=
