<div class="layout">
  <nav class="menu">
    <div class="brand">
      <div class="icon-unu">
        <i class="fas fa-university"></i>
      </div>
      <h3>Estudiante</h3>
    </div>

    <div class="nav-section">
      <a class="menu-item active">
        <i class="fas fa-home"></i> Inicio (Reportes aceptados)
      </a>
      <a class="menu-item">
        <i class="fas fa-fire"></i> Tendencias (Más reacciones)
      </a>
    </div>

    <div class="nav-section">
      <a class="menu-item highlight">
        <i class="fas fa-plus-circle"></i> Nuevo reporte
      </a>
      <a class="menu-item">
        <i class="fas fa-clock"></i> Mis reportes pendientes
      </a>
    </div>

    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Cerrar sesión
    </button>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
